{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark" style="padding-bottom:4em;">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="footer-logo">
            <img src="{{ printf "/images/logos/%s" $logo | relURL }}" style="height:4.8em;">
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level item">
          <div class="footer-column">
            <div class="footer-header" style="text-align:center;">
              <h3>{{ $socialMediaTitle }}</h3>
              {{- range $socialMedia }}
              <a href="{{ .link }}" style="margin-left:0.5em; margin-right:0.5em;">
                  <span class="icon"><i class="fa fa-{{ .icon }} fa-2x"></i></span>
              </a>
              {{- end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
