{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-small">
  <div class="container" stlye="padding-bottom:1.5em;">
      {{- range $features }}
      <div class="columns" style="margin-top:1.5em;">
          <div class="column is-1by1">
            <p class="image">
              <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}" >
            </p>
          </div>
          <div class="column is-10">
            <div class="content">
              <p class="is-vcentered">
                <h4 style="color:#008CB7">{{ .title }}</h4>
                <p>{{ .text | markdownify }}</p>
              </p>
            </div>
          </div>
      </div>
      <br/>
      {{- end }}
  </div>
</section>