{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
<section id="learn-more" class="section section-feature-grey is-medium" style="background-color:#4FC1EA">
  <div class="container mt-50">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2" style="color:white;">{{ $title }}</h2>
      <div class="divider is-centered"></div>
    </div>
    <div class="columns">
      {{- range $tiles }}
      <div class="column is-fullwidth">
        <section class="section revealOnScroll delay-1" data-animation="fadeInLeft">
          <p class="subtitle" style="color: white; text-align: center;">{{ .text }}</p>
        </section>
      </div>
      {{- end }}
    </div>
  </div>
</section>