{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<style>
    @media only screen and (max-width: 768px) {
        section#benefits div.column.is-narrow {
            display: flex;
            justify-content: center;
        }
        section#benefits div.column.is-narrow p.image {
            height:5em;
            width: 5em;
        }
        section#benefits div.column.is-7 div.column {
            text-align: center;
        }
    }
</style>
<section id="benefits" class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">{{ $title }}</h1>
                <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
                <div class="divider"></div>
            </div>
            <div class="column is-7 mt-60">
                {{- range $features }}
                    <div class="columns is-vcentered" style="margin-bottom:3em;">
                        <div class="column is-narrow">
                            <p class="image">
                                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
                            </p>
                        </div>
                        <div class="column">
                            <h1 style="font-weight:bold; font-size:13pt;">{{ .title }}</h1>
                            <p>
                                <span>{{ .text | markdownify }}</span>
                            </p>
                        </div>
                    </div>
                {{- end }}
            </div>
        </div>
    </div>
</section>
